page-delivery {
  #single-delivery {
    width: 100%;
    height: 100%;
  }

  .delivery-info {
  	display: block;
  	width: 100%;
    height: 30%;
  }

  .bid-button {
  	width: 100px;
  	height: 50px;
  }

  .delivery-brand-icon {
  	display: block;
  	max-width:30%;
  	max-height:30%;
  	width: auto;
  	height: auto;
  	padding: 20px;
  }

  .delivery-row {
  	display: block;
  	margin: 20px;
    width: 100%;
	  background-color: rgb(242, 242, 242);
  }



	.delivery-table-row>td>h2, .delivery-table-row>td>h4 {
		text-align: center;
	}

	.delivery-table {
		width: 100%;
	}

	
}