<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Delivery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="single-delivery">
  <div> 
  	 <ion-grid>
        <ion-row justify-content-center>
          <ion-col>
            <img class="delivery-brand-icon" [src] = "delivery.brandLogoPath"/>
          </ion-col>
          <ion-col col-2>
            <p>From:</p>
            <p>{{delivery.startAddressText}}</p>
          </ion-col>
          <ion-col col-2>
            <p>To:</p>
            <p>{{delivery.endAddressText}}</p>
          </ion-col>
          <ion-col >
            <p >Current Bid:</p>
            <p *ngIf="delivery.bestBidDriverId">{{ delivery.bestBidAmount }}</p>
            <p *ngIf="!delivery.bestBidDriverId">No bid</p>
          </ion-col>
          <ion-col col-2>
            <p>Holder:</p>
            <p *ngIf="delivery.bestBidDriverId">{{delivery.bestBidDriverName || ""}}</p>
            <p *ngIf="!delivery.bestBidDriverId">No bid</p>
          </ion-col>
          <ion-col col-2>
            <p>Time Left:</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

</ion-content>
