page-dashboard {
	.brand-icon {
		width:50px;
		height:50px;
		display: block;
	}
	.dashboard-col {
		height: 100px;
	}
	.gird-action-button {
		bottom: 0;
		position: absolute;	
		width: 100%;
		display:  block;
	}

	.sub-row {
		display: block;
		width: 100%;
	}
	
	.span-left {
		float: left;
	}

	.span-right {
		float: right;
	}

	.order-table-row>td>h2, .order-table-row>td>h4 {
		text-align: center;
	}

	.order-table {
		width: 100%;
	}

	.profile-table {
		width: 100%;
	}
	.profile {
		width: 100%;
		height: 30px;
		position: fixed;
		bottom: 50px;
		margin: 20px;
	}
}
