page-dashboard {
	.brand-icon {
		width:50px;
		height:50px;
	}

	.order-row {
		background-color: rgb(242, 242, 242);
	}

	.order-table-row {
		width:100%;
	}

	.order-table-row-part20 {
		width:20%;
	}

	.order-table-row-part10 {
		width:10%;
	}

	.order-table-row>td>h2, .order-table-row>td>h4 {
		text-align: center;
	}

	.order-table {
		width: 100%;
	}
}
