<ion-header>
  <ion-navbar>
 <!--    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let delivery of deliveries">
      <ion-grid>
        <ion-row justify-content-center align-items-end align-items-start>
          <ion-col class="dashboard-col">
            <p><img class="brand-icon" src="http://cdn.playbuzz.com/cdn/6e3a4963-ba68-4989-8161-f9ed4f139813/deacc6ca-1cab-4a16-87c5-b7c5a959724a.jpg"/></p>
            <div class="gird-action-button">
              <button ion-button (click)="openDelivery(delivery)">Поръчка</button>
            </div>
          </ion-col>
          <ion-col class="dashboard-col">
            <p class="inline-p">от: {{delivery.startAddressText}}</p>
            <div class="gird-action-button">
              <button ion-button (click)="openShopMap(delivery)">Виж Карта</button>
            </div>
          </ion-col>
          <ion-col class="dashboard-col">
            <p lass="inline-p">за: {{delivery.endAddressText}}</p>
            <div class="gird-action-button">
            <button ion-button (click)="openClientMap(delivery)">Виж Карта</button>
            </div>
          </ion-col>
          <ion-col class="dashboard-col">
           <p class="sub-row">Цена: {{currentBidPrice(delivery)}} лв.</p>
           <p class="sub-row">Остават: {{ delivery.timeleft }}</p>
           <p class="sub-row">Курс: {{ getDistanceFromLatLonInKm(delivery) }} км</p>
          </ion-col>
          <ion-col class="dashboard-col">
            <div *ngIf="!isMine(delivery.bestBidDriverId)" >
            <button ion-button disabled > {{ newBidPrice(delivery) }} </button>
            <div class="gird-action-button sub-row">
              <span>
                <button ion-button (click)="makeABid(delivery)">Предложи</button>
              </span>
            </div>
           </div>
           <div *ngIf="isMine(delivery.bestBidDriverId)">
            <div class="gird-action-button sub-row">
              <span>
                <button ion-button disabled>ОК</button>
              </span>
            </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <div class="profile">
   <ion-grid class="profile-table">
        <ion-row justify-content-center>
          <ion-col>
            <p>Name:</p>
            <p  *ngIf="profile">{{profile.firstName}} {{profile.lastName}}</p>
          </ion-col>
          <ion-col>
            <p>Plate:</p>
            <p *ngIf="profile">{{profile.cabPlateNumber}}</p>
          </ion-col>
          <ion-col>
              <button  ion-button (click)="logout()">Logout</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
